ngu_sediment/*
mdir/*
*.gpkg
*.geojson
*.tif
*.tiff
*.parquet
.Rproj.user
.Rhistory
.RData
.Ruserdata
**/__pycache__/**
.env
**egg-info/**
**/*.joblib
geonorge/*
niva/*.xml
# pixi environments
.pixi/*
!.pixi/config.toml
poetry.lock
*.gpkg
snowflake.log
niva/tare/stortare-tetthetsklasser_norge_2021_25833
niva/tare/*.xml
.vscode/settings.json
